.App {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5rem;
  background-image: linear-gradient(
    to top,
    #fafafa,
    #f2f4fd,
    #e6f0ff,
    #d5edff,
    #c0ebff
  );
}

@media screen and (max-width: 426px) {
  .App {
    flex-direction: column;
  }
}
