.Bee {
  text-align: center;
  &__title {
    text-transform: uppercase;
    font-family: "Architects Daughter", cursive;
  }

  &__img-wrapper {
    padding: 1rem;
  }
  &__img-logo {
    width: 10rem;
    height: 10rem;
  }

  &__header {
    font-family: "Montserrat", sans-serif;
  }

  &__subheader {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }

  &__message {
    color: red;
    font-weight: 600;
  }

  &__btn {
    border-radius: 5rem;
    border: 3px solid #fcde02;
    background-color: #fafafa;
    display: block;
    margin: 1.5rem auto;
    padding: 0.5rem 1rem;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  }
}
